:root {
  --vp-c-dog-1: #2353ac;
  --vp-c-dog-2: #caa4db;
  --vp-c-dog-3: #2d3d69;
  --vp-c-dog-soft: rgba(159, 153, 232, 0.4);
}

:root {
  /* 主色 */
  --vp-c-brand-1: var(--vp-c-dog-1);
  --vp-c-brand-2: var(--vp-c-dog-2);
  --vp-c-brand-3: var(--vp-c-dog-3);
  --vp-c-brand-soft: var(--vp-c-dog-soft);
}