@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  --vp-c-brand-1: #2353ac;
  --vp-c-brand-2: #caa4db;
  --vp-c-brand-3: #2d3d69;
  --vp-c-brand-soft: rgba(159, 153, 232, 0.4);
}

.dark {
  --vp-c-brand-1: #6994eb;
  --vp-c-brand-2: #caa4db;
  --vp-c-brand-3: #4d629c;
  --vp-c-brand-soft: rgba(186, 181, 238, 0.4);
}

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand-1), var(--vp-c-brand-2));
}

/* 文档标题样式 */
.vp-doc a {
  text-decoration: none;
  transition: all 0.3s ease;
}
.vp-doc a:hover {
  text-decoration: underline;
}
.vp-doc .table-of-contents ul {
  padding-left: 0;
}
.vp-doc .table-of-contents li {
  list-style-type: none;
}
.vp-doc .table-of-contents ul:first-child > li > a {
  font-size: 1.1em;
  font-weight: 700;
}
.vp-doc .table-of-contents a {
  color: var(--vp-c-text-1);
  text-decoration: none;
}
.vp-doc .table-of-contents a:hover {
  text-decoration: none;
  color: var(--vp-c-text-2);
}

/* 提示框背景颜色 */
:root {
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

/* 容器块 */
.info.custom-block,
.note.custom-block {
  --icon: '\f05a'; 
}
.tip.custom-block {
  border-color: var(--vp-c-green-2);
  --icon: '\f0eb'; 
}
.warning.custom-block {
  border-color: var(--vp-c-yellow-2);
  --icon: '\f071'; 
}
.danger.custom-block,
.caution.custom-block {
  border-color: var(--vp-c-red-2);
  --icon: '\f057'; 
}

.custom-block-title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.custom-block-title::before {
  font-family: 'Font Awesome 6 Free', 'Font Awesome 5 Free', 'FontAwesome';
  font-weight: 900;
  content: var(--icon);
  width: 16px;
  height: 16px;
  color: inherit;
  display: inline-block;
  text-align: center;
  line-height: 1;
}

/* 轮播 */
.VPHomeFeatures .items {
  display: none;
}

video {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

/* 图片放大 */
.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 9999 !important;
}
